<!-- 左侧容器内容 -->
<div class="ft">
    <!-- 尾部开始 -->
    <div class="footer">
        <div class="ft_contain">
            <div class="footer-left">
                <div class="footer-txt">
                    <ul>
                        <li>
                            <a href="javascript:;">帮助中心</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">用户协议</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copyright&nbsp@2017-2018&nbsp98枚&nbsp版权所有</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-pic">
                    <ul>
                        <li>
                            <img src="./images/content/Img/12.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/content/Img/13.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/content/Img/14.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/content/Img/15.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/content/Img/16.jpg" alt="">
                        </li>
                        <li>
                            <img src="./images/content/Img/17.jpg" alt="">
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-rightPic">
                    <img src="./images/content/Img/18.png" alt="">
                    <span>微信关注98枚</span>
                </div>
                <div class="footer-login">
                    <p>还没加入98收吗？</p>
                    <a href="">
                        <img src="./images/content/Img/icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部结束 -->
</div>