<div class="hd">
    <div class="hd_contain">
        <!-- 导航开始 -->
        <div class="nav-header">
            <div class="nav-left">
                <img src="./images/content/Img/01.jpg" alt="">
            </div>
            <div class="nav-txt">
                <ul>
                    <li id="one">
                        <a href="javascript:;" onclick="lab.loadpage('./template/shouye.html')">首页</a>
                    </li>
                    <li>
                        <a href="./cards.html">我要卖卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">帮助中心</a>
                    </li>
                    <li>
                        <a href="./contact.html">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="./images/content/Img/02.jpg" alt="">
                <a href="#" onclick="lab.loadpage('./template/login.html')">登录</a>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->
</div>