<!-- 内容开始 -->
<div class="box">
    <div class="main" style="height:890px;">
        <div class="cards_content">
            <div class="content-rate">
                <div class="c_table">
                    <p>清算费率：</p>
                    <table>
                        <thead>
                            <tr>
                                <th>充值卡类型</th>
                                <th>充值卡编码</th>
                                <th>支持面值</th>
                                <th>寄售比例</th>
                            </tr>
                        </thead>
                        <tdody>
                            <tr>
                                <td>移动充值卡</td>
                                <td>SZX</td>
                                <td>100元 /<span>50元</span>/ 30元</td>
                                <td>98%</td>
                            </tr>
                            <tr>
                                <td>联通充值卡</td>
                                <td>ACAS</td>
                                <td>100元 /<span>50元</span>/ 30元</td>
                                <td>98%</td>
                            </tr>
                            <tr>
                                <td>电信充值卡</td>
                                <td>GSD</td>
                                <td>100元 /<span>50元</span>/ 30元</td>
                                <td>98%</td>
                            </tr>
                        </tdody>
                    </table>
                </div>
            </div>
            <div class="c_weixin">
                <h3>马上卖卡：</h3>
                <div class="weixin">
                    <div class="weixin-a">
                        <ul>
                            <li>选择卡种:</li>
                            <li>
                                <a href=""><img src="./images/content/Img/cards-01.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="./images/content/Img/cards-02.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="./images/content/Img/cards-03.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="./images/content/Img/cards-04.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>

                    <div class="weixin-a">
                        <ul>
                            <li id="weixin-b">选择面值:</li>
                            <li><input type="radio" name="radio" value="">100元</li>
                            <li><input type="radio" name="radio" value="">50元</li>
                            <li><input type="radio" name="radio" value="">30元</li>
                        </ul>
                    </div>

                    <div class="weixin-a">
                        <li id="weixin-b">提交方式:</li>
                        <li><input type="radio" value="">单卡提交</li>
                        <li><input type="radio" value="">多卡提交</li>
                    </div>

                    <div class="weixin-a">
                        <li id="weixin-c">提交卡号:</li>
                        <li><input type="text"></li>
                    </div>

                    <div class="weixin-a">
                        <li id="weixin-c">提交卡密:</li>
                        <li><input type="text"></li>
                    </div>

                    <input type="submit" value="确认卖卡">
                </div>
                <div class="content-txt">
                    <p>#提示#:默认自动选择100元面值,如果是其它面值请选择对应的面值:卡号和卡密必填正确的,不能有误面值选择错误将有可能损失差额,责任自负</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 内容结束 -->