<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>contact</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./Content/common.css">
    <link rel="stylesheet" type="text/css" href="./Content/contact.css">
</head>

<body>
    <div class="contain">
        <!-- 导航开始 -->
        <div class="nav-header">
            <div class="nav-left">
                <img src="./Content/img/01.jpg" alt="">
            </div>
            <div class="nav-txt">
                <ul>
                    <li>
                        <a href="./index.html">首页</a>
                    </li>
                    <li>
                        <a href="./cards.html">我要卖卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">帮助中心</a>
                    </li>
                    <li>
                        <a id="one" href="javascript:;">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="./Content/img/02.jpg" alt="">
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->

    <!-- 主题内容-->
    <div class="box">
        <div class="contain">
            <div class="main">
                <div class="main-l ">
                    <div class="main-l-tab">
                        <ul>
                            <li>
                                <a href="">帮助中心</a>
                                <span></span>
                            </li>
                            <li>
                                <a  href="">提现说明</a>
                            </li>
                            <li>
                                <a href="">常见问题</a>
                            </li>
                            <li>
                                <a class="relation" href="">联系我们</a>
                            </li>
                        </ul>
                    </div>
                     <div class="main-l-pic">
                        <div>
                            <img src="./Content/img/person-05_03.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-r">
                    <div class="main-r-us">
                        <p>联系我们:</p>
                        <div>
                            <img src="./Content/Img/contact-01.png" alt="" />
                        </div>
                        <div class="intro">
                            <div>
                                <span>98收简介&nbsp;</span>
                                <span>:&nbsp;98收是上海和钧信息有限公司旗下话费卡回收服务品牌 , 专注于联通、电信、联通等话费卡回收 , 秉承 "价格好、 付款快、服务优"&nbsp;&nbsp;的
                                    <br> 宗旨 , 致力于成为国内专业的话费卡回收平台.</span>
                            </div>
                            <div class="tel">
                                <p>
                                    <span>客服热线&nbsp;:</span>&nbsp;400-080-2222&nbsp&nbsp&nbsp&nbsp 021-2222 2222</p>
                                <p>
                                    <span>官方网站&nbsp;:</span>&nbsp;http://www.98shou.com</p>
                                <p>
                                    <span>地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址&nbsp;:</span>&nbsp;上海市真南路150号沪西德必易园C座288/229室</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- 尾部开始 -->
    <div class="footer">
        <div class="contain">
            <div class="footer-left">
                <div class="footer-txt">
                    <ul>
                        <li>
                            <a href="javascript:;">帮助中心</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">用户协议</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copyright&nbsp@2017-2018&nbsp98枚&nbsp版权所有</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-pic">
                    <ul>
                        <li>
                            <img src="./Content/img/12.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/13.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/14.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/15.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/16.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/17.jpg" alt="">
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-rightPic">
                    <img src="./Content/img/18.png" alt="">
                    <span>微信关注98枚</span>
                </div>
                <div class="footer-login">


                    <p>还没加入98收吗？</p>
                    <a href="">
                        <img src="./Content/img/icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部结束 -->
</body>



</html>