<!-- 主题内容-->
<div class="card_box">
    <div class="contain">
        <div class="main">
            <div class="main-l ">
                <div class="main-l-tab">
                    <ul class="m_card">
                        <li>
                            <a href="#">帮助中心</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="#" onclick="lab.isShow('m_card','m1','m2',this)">提现说明</a>
                        </li>
                        <li>
                            <a href="">常见问题</a>
                        </li>
                        <li class="relation">
                            <a href="#" onclick="lab.isShow('m_card','m2','m1',this)">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="main-l-pic">
                    <div>
                        <img src="./images/content/Img/person-05_03.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="main-r m1">
                <div class="main-r-us">
                    <p>联系我们:</p>
                    <div>
                        <img src="./images/content/Img/contact-01.png" alt="" />
                    </div>
                    <div class="intro">
                        <div>
                            <span>98收简介&nbsp;</span>
                            <span>:&nbsp;98收是上海和钧信息有限公司旗下话费卡回收服务品牌 , 专注于联通、电信、联通等话费卡回收 , 秉承 "价格好、 付款快、服务优"&nbsp;&nbsp;的
                                    <br> 宗旨 , 致力于成为国内专业的话费卡回收平台.</span>
                        </div>
                        <div class="tel">
                            <p>
                                <span>客服热线&nbsp;:</span>&nbsp;400-080-2222&nbsp&nbsp&nbsp&nbsp 021-2222 2222</p>
                            <p>
                                <span>官方网站&nbsp;:</span>&nbsp;http://www.98shou.com</p>
                            <p>
                                <span>地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址&nbsp;:</span>&nbsp;上海市真南路150号沪西德必易园C座288/229室</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-r m2" style="display:none;">
                <div class="main-r-us">
                    <p>提现说明:</p>

                    <div class="intro">
                        <div class="intro-one">
                            <p>1. 提现多久可以到账？</p>
                            <p>提现一般十分钟内客服工作人员会进行处理， 若超出以上时间可以联系客服 ，汇出后立即到达你的微信零钱账户或银行卡 ，但不排除有意外情况
                                <br> 会延迟 ， 例如微信卡单或人民银行网银系统维护等 ， 若出现这样的情况 ， 及时联系客服处理。
                            </p>
                        </div>
                        <div class="intro-two">
                            <p>2. 提现时限及手续费 ？</p>
                            <p>随时提现 ，随时处理 ，没有时间限制。 且提现手续费全部由平台承担。</p>
                        </div>
                        <div class="intro-three">
                            <p>3. 支持哪些银行收款方式 ？</p>
                            <p>98收现支持微信直接到账零钱账户 ，后续将会开通提现到工商银行、 农业银行、 建设银行、 中国银行、 交通银行、 招商银行、 光大银行、 民生
                                <br> 银行、 浦发银行、 兴业银行、 中信银行、 平安银行、 广发银行、 北京银行、 上海银行、 江苏银行、 北京农商银行、 杭州银行等等。
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>