<!-- 主题内容-->
<div class="card_box">
    <div class="contain">
        <div class="main">
            <div class="main-l ">
                <div class="main-l-tab">
                    <ul>
                        <li>
                            <a href="">帮助中心</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="">提现说明</a>
                        </li>
                        <li>
                            <a href="">常见问题</a>
                        </li>
                        <li>
                            <a class="relation" href="">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="main-l-pic">
                    <div>
                        <img src="./images/content/Img/person-05_03.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="main-r">
                <div class="main-r-us">
                    <p>联系我们:</p>
                    <div>
                        <img src="./images/content/Img/contact-01.png" alt="" />
                    </div>
                    <div class="intro">
                        <div>
                            <span>98收简介&nbsp;</span>
                            <span>:&nbsp;98收是上海和钧信息有限公司旗下话费卡回收服务品牌 , 专注于联通、电信、联通等话费卡回收 , 秉承 "价格好、 付款快、服务优"&nbsp;&nbsp;的
                                    <br> 宗旨 , 致力于成为国内专业的话费卡回收平台.</span>
                        </div>
                        <div class="tel">
                            <p>
                                <span>客服热线&nbsp;:</span>&nbsp;400-080-2222&nbsp&nbsp&nbsp&nbsp 021-2222 2222</p>
                            <p>
                                <span>官方网站&nbsp;:</span>&nbsp;http://www.98shou.com</p>
                            <p>
                                <span>地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址&nbsp;:</span>&nbsp;上海市真南路150号沪西德必易园C座288/229室</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>