<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>contacttwo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./Content/common.css">
    <link rel="stylesheet" type="text/css" href="./Content/contacttwo.css">
</head>

<body>
    <div class="contain">
        <!-- 导航开始 -->
        <div class="nav-header">
            <div class="nav-left">
                <img src="./Content/img/01.jpg" alt="">
            </div>
            <div class="nav-txt">
                <ul>
                    <li>
                        <a href="./index.html">首页</a>
                    </li>
                    <li>
                        <a href="./cards.html">我要卖卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">帮助中心</a>
                    </li>
                    <li>
                        <a id="one" href="javascript:;">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="./Content/img/02.jpg" alt="">
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->

    <!-- 主题内容-->
    <div class="box">
        <div class="contain">
            <div class="main">
                <div class="main-l ">
                    <div class="main-l-tab">
                        <ul>
                            <li>
                                <a href="">帮助中心</a>
                                <span></span>
                            </li>
                            <li>
                                <a class="relation" href="">提现说明</a>
                            </li>
                            <li>
                                <a  href="">常见问题</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </div>
                    <div class="main-l-pic">
                        <div>
                            <img src="./Content/img/person-05_03.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-r">
                    <div class="main-r-us">
                        <p>提现说明:</p>

                        <div class="intro">
                            <div class="intro-one">
                                <p>1. 提现多久可以到账？</p>
                                <p>提现一般十分钟内客服工作人员会进行处理， 若超出以上时间可以联系客服 ，汇出后立即到达你的微信零钱账户或银行卡 ，但不排除有意外情况
                                    <br> 会延迟 ， 例如微信卡单或人民银行网银系统维护等 ， 若出现这样的情况 ， 及时联系客服处理。
                                </p>
                            </div>
                            <div class="intro-two">
                                <p>2. 提现时限及手续费 ？</p>
                                <p>随时提现 ，随时处理 ，没有时间限制。 且提现手续费全部由平台承担。</p>
                            </div>
                            <div class="intro-three">
                                <p>3. 支持哪些银行收款方式 ？</p>
                                <p>98收现支持微信直接到账零钱账户 ，后续将会开通提现到工商银行、 农业银行、 建设银行、 中国银行、 交通银行、 招商银行、 光大银行、 民生
                                    <br> 银行、 浦发银行、 兴业银行、 中信银行、 平安银行、 广发银行、 北京银行、 上海银行、 江苏银行、 北京农商银行、 杭州银行等等。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- 尾部开始 -->
    <div class="footer">
        <div class="contain">
            <div class="footer-left">
                <div class="footer-txt">
                    <ul>
                        <li>
                            <a href="javascript:;">帮助中心</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">用户协议</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copyright&nbsp@2017-2018&nbsp98枚&nbsp版权所有</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-pic">
                    <ul>
                        <li>
                            <img src="./Content/img/12.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/13.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/14.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/15.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/16.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/17.jpg" alt="">
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-rightPic">
                    <img src="./Content/img/18.png" alt="">
                    <span>微信关注98枚</span>
                </div>
                <div class="footer-login">


                    <p>还没加入98收吗？</p>
                    <a href="">
                        <img src="./Content/img/icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部结束 -->
</body>



</html>