<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nameapprone</title>
    <link rel="stylesheet" type="text/css" href="Content/common.css">
    <link rel="stylesheet" type="text/css" href="Content/personname.css">
</head>

<body>
    <div class="contain">
        <!-- 导航开始 -->
        <div class="nav-header">
            <div class="nav-left">
                <img src="./Content/img/01.jpg" alt="">
            </div>
            <div class="nav-txt">
                <ul>
                    <li>
                        <a href="javascript:;">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">我要卖卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">帮助中心</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        <a id="one" href="javascript:;">个人中心</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="./Content/img/02.jpg" alt="">
                <span>ID_0009&nbsp&nbsp
                    <em>|</em>
                </span>

                <a href="javascript:;">退出</a>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->

    <!-- 内容开始 -->
    <div class="main">
        <div class="contain">
            <div class="content">
                <div class="content-top">
                    <div class="content-info">
                        <img src="./Content/img/person-02.png" alt="">
                        <span>实名认证</span>
                        <span>实名认证可提升个人账户安全</span>
                    </div>
                    <div class="info-right">
                        <p>欢迎你！ID_0009</p>
                    </div>
                </div>
                <div class="content-btn">
                    <div class="content-btn1">
                        <span>真实姓名：</span> <input type="text">
                        <em>*请输入身份证上的名字 , 提交之后不可修改</em>
                    </div>
                    <div class="content-btn2">
                        <span>身份证号：</span>
                        <input type="text">
                        <em>*请输入与真实姓名匹配的身份证号码</em>
                    </div>

                    <div class="content-btn3">
                        <span>身份证照片：</span>
                        <img src="./Content/img/name.png" alt="">
                        <em>*你跟我说说上传图片要注意点啥</em>
                    </div>

                    <div class="content-btn4">
                        <a href="javascript:;">确认提交</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->
    <!-- 尾部开始 -->
    <div class="footer">
        <div class="contain">
            <div class="footer-left">
                <div class="footer-txt">
                    <ul>
                        <li>
                            <a href="javascript:;">帮助中心</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">用户协议</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copyright&nbsp@2017-2018&nbsp98枚&nbsp版权所有</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-pic">
                    <ul>
                        <li>
                            <img src="./Content/img/12.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/13.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/14.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/15.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/16.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/17.jpg" alt="">
                        </li>

                    </ul>

                </div>
            </div>
            <div class="footer-right">
                <div class="footer-rightPic">
                    <img src="./Content/img/18.png" alt="">
                    <span>微信关注98枚</span>
                </div>
                <div class="footer-login">
                    <p>还没加入98收吗？</p>
                    <a href="">
                        <img src="./Content/img/icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部结束 -->

</body>

</html>