<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personindet</title>
    <link rel="stylesheet" type="text/css" href="Content/common.css">
    <link rel="stylesheet" type="text/css" href="Content/personindet.css">
</head>

<body>
    <div class="contain">
        <!-- 导航开始 -->
        <div class="nav-header">
            <div class="nav-left">
                <img src="./Content/img/01.jpg" alt="">
            </div>
            <div class="nav-txt">
                <ul>
                    <li>
                        <a href="javascript:;">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">我要卖卡</a>
                    </li>
                    <li>
                        <a href="javascript:;">帮助中心</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        <a id="one" href="javascript:;">个人中心</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="./Content/img/02.jpg" alt="">
                <span>ID_0009&nbsp&nbsp
                    <em>|</em>
                </span>
                <a href="javascript:;">退出</a>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->

    <!-- 内容开始 -->
    <div class="main">
        <div class="contain">
            <div class="content">
                <div class="content-info">
                    <ul>
                        <li>
                            <a href="">个人信息</a>
                        </li>
                        <li>
                            <a class="info-ziti" href="">我的订单</a>
                        </li>
                        <li>
                            <a href="">微信绑定</a>
                        </li>
                        <li>
                            <a href="">常见问题</a>
                        </li>
                    </ul>
                    <div class="content-pic">
                        <img src="./Content/img/person-05_03.jpg" alt="">
                    </div>
                </div>
                <div class="content-indent">
                    <div class="content-ID">
                        <span>我的订单</span>
                        <div class="content-search">
                            <input type="text" placeholder="输入关键字 , 如充值卡号">
                            <a href="">搜索</a>
                        </div>
                    </div>

                    <div class="content-tab">
                        <div class="content-txt">


                            <div class="tabone">
                                <p>总兑换面值 ：
                                    <span>1000.00</span> 元，总成功金额：
                                    <span>882.00</span> 元，总失败金额：
                                    <span>100.00</span> 元</p>
                            </div>
                            <div class="tabtwo">
                                <table>
                                    <tr>
                                        <td>订单号</td>
                                        <td>提交时间</td>
                                        <td>充值卡类型</td>
                                        <td>充值卡卡号</td>
                                        <td>实际面值</td>
                                        <td>提现面值</td>
                                        <td>订单状态</td>
                                        <td>成功金额</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换中</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>电信充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>移动充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>移动充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换失败</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>移动充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                    <tr>
                                        <td>1234567</td>
                                        <td>2017-10-16</td>
                                        <td>联通充值卡</td>
                                        <td>1234567897</td>
                                        <td>100元</td>
                                        <td>98元</td>
                                        <td>兑换成功</td>
                                        <td>98元</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tabthree">
                                <div class="tabnumber">
                                    <a href="">1</a>
                                    <a href="">2</a>
                                    <a href="">3</a>
                                    <a href="">4</a>
                                    <a href="">5</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->

    <!-- 尾部开始 -->
    <div class="footer">
        <div class="contain">
            <div class="footer-left">
                <div class="footer-txt">
                    <ul>
                        <li>
                            <a href="javascript:;">帮助中心</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">联系我们</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">用户协议</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="javascript:;">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copyright&nbsp@2017-2018&nbsp98枚&nbsp版权所有</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-pic">
                    <ul>
                        <li>
                            <img src="./Content/img/12.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/13.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/14.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/15.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/16.jpg" alt="">
                        </li>
                        <li>
                            <img src="./Content/img/17.jpg" alt="">
                        </li>

                    </ul>

                </div>
            </div>
            <div class="footer-right">
                <div class="footer-rightPic">
                    <img src="./Content/img/18.png" alt="">
                    <span>微信关注98枚</span>
                </div>
                <div class="footer-login">
                  <p>还没加入98收吗？</p>
                    <a href="">
                        <img src="./Content/img/icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部结束 -->

</body>

</html>