<!-- 内容开始 -->
<div class="main">

    <div class="contain">
        <div class="content">
            <div class="content-top">
                <div class="content-info">
                    <img src="./Content/img/person-03.png" alt="">
                    <span>绑定手机</span>
                    <span>手机号用于重置密码或其它安全验证</span>
                </div>
                <div class="info-right">
                    <p>欢迎你！ID_0009</p>
                </div>
            </div>
            <div class="content-btn">
                <div class="content-btn1">
                    <span>手机号码：</span> <input type="text"> <em>*请输入你常用的手机号码</em>
                </div>
                <div class="content-btn2">
                    <span>手机号码：</span>
                    <input type="text">
                    <a href="javascript:;">发送验证码</a>
                    <em>*请输入六位数手机验证码</em>
                </div>
                <div class="content-btn3">
                    <a href="javascript:;">确认提交</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->