<!-- 内容开始 -->
<div class="main">

    <div class="contain">
        <div class="content">
            <div class="content-top">
                <div class="content-info">
                    <img src="./Content/img/person-01.png" alt="">
                    <span>登录密码</span>
                    <span>用于重置密码或其它安全验证</span>
                </div>
                <div class="info-right">
                    <p>欢迎你！ID_0009</p>
                </div>
            </div>
            <div class="content-btn">
                <div class="content-btn1">
                    <span>原始密码：</span>
                    <input type="text">
                    <em>*请输入你的原始密码</em>
                </div>
                <div class="content-btn2">
                    <span><i>新密码：</i></span>
                    <input type="text">
                    <em>*请输入6-16位数新密码</em>
                </div>
                <div class="content-btn2">
                    <span>确认密码：</span>
                    <input type="text">
                    <em>*请输入6-16位数新密码</em>
                </div>
                <div class="content-btn3">
                    <a href="javascript:;">确认提交</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->