<!-- 内容开始 -->
<div class="main">
    <div class="contain">
        <div class="content">
            <div class="content-info">
                <ul>
                    <li><a class="info-ziti" href="">个人信息</a></li>
                    <li><a href="">我的订单</a></li>
                    <li><a href="">微信绑定</a></li>
                    <li><a href="">常见问题</a></li>
                </ul>
                <div class="content-pic">
                    <img src="./Content/img/person-05_03.jpg" alt="">
                </div>
            </div>
            <div class="content-indent">
                <div class="content-ID">
                    <span>个人信息</span>
                    <span>欢迎你 ! ID_0009</span>
                </div>

                <div class="content-tab">
                    <ul>
                        <li>
                            <img src="./Content/img/person-01.png" alt="">
                            <span>微信绑定</span>
                        </li>
                        <li>
                            <span class="ziti">用于登录账号和收取卖卡红包</span>
                        </li>
                        <li>
                            <span id="incon">已绑定</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="./Content/img/person-02.png" alt="">
                            <span>实名认证</span>
                        </li>
                        <li>
                            <span class="ziti">实名认证可提升个人账户安全</span>
                        </li>
                        <li>
                            <span><a href="">立即实名认证></a></span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="./Content/img/person-03.png" alt="">
                            <span>绑定手机</span>
                        </li>
                        <li>
                            <span class="ziti">用于重置密码或其它安全验证</span>
                        </li>
                        <li>
                            <span><a href="">马上绑定手机></a></span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="./Content/img/person-04.png" alt="">
                            <span>登录密码</span>
                        </li>
                        <li>
                            <span class="ziti">用于保护账号信息和登录安全</span>
                        </li>
                        <li>
                            <span><a href="">修改登录密码></a></span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->