<!-- 内容开始 -->
<div class="main">
    <div class="contain">
        <div class="content">
            <div class="content-top">
                <div class="content-info">
                    <img src="./Content/img/person-02.png" alt="">
                    <span>实名认证</span>
                    <span>实名认证可提升个人账户安全</span>
                </div>
                <div class="info-right">
                    <p>欢迎你！ID_0009</p>
                </div>
            </div>
            <div class="content-btn">
                <div class="content-btn1">
                    <span>真实姓名：</span> <input type="text">
                    <em>*请输入身份证上的名字 , 提交之后不可修改</em>
                </div>
                <div class="content-btn2">
                    <span>身份证号：</span>
                    <input type="text">
                    <em>*请输入与真实姓名匹配的身份证号码</em>
                </div>

                <div class="content-btn3">
                    <span>身份证照片：</span>
                    <img src="./Content/img/name.png" alt="">
                    <em>*你跟我说说上传图片要注意点啥</em>
                </div>

                <div class="content-btn4">
                    <a href="javascript:;">确认提交</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->