<!-- 内容开始 -->
<div class="main">
    <div class="contain">
        <div class="content">
            <div class="content-info">
                <ul>
                    <li><a href="">个人信息</a></li>
                    <li><a href="">我的订单</a></li>
                    <li><span class="info-ziti"></span><a href="">微信绑定</a></li>
                    <li><a href="">常见问题</a></li>
                </ul>

            </div>
            <div class="content-indent">
                <div class="content-ID">
                    <span>微信绑定</span>
                    <span>欢迎你 ! ID_0009</span>
                </div>

                <div class="content-tab">
                    <div class="content-p1"><img src="./Content/img/aaa_03.png" alt=""></div>
                    <div class="content-p2"><img src="./Content/img/aaa_06.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->