<div class="content">
    <div class="content-top">
        <h2>全网最专业收卡平台</h2>
        <h3>>百分比高达98%回收各类话费卡密
            < </h3>
                <div class="content-mk">
                    <a href="javascript:;" alt="" class="content-tu">
                        <img src="./images/content/Img/03.png" alt="">
                    </a>
                </div>
    </div>
    <div class="content-one">
        <div class="sj_contain">
            <div class="content-three">
                <img src="./images/content/Img/04.png" alt="">
            </div>
            <div class="content-pic">
                <div class="sj1 sj">
                    <div class="d1 c_common">
                        <img src="./images/content/Img/06.jpg" alt="">
                    </div>
                    <p class="mt20">
                        1.&nbsp微信登录98收
                        <img src="./images/content/Img/20.jpg" alt="">
                    </p>
                </div>
                <div class="sj2 sj">
                    <div class="d1 c_common">
                        <img src="./images/content/Img/07.jpg" alt="">
                    </div>
                    <p class="mt20">2.&nbsp话费卡回收页面输入卡密
                        <img src="./images/content/Img/20.jpg" alt="">
                    </p>
                </div>
                <div class="sj3 sj">
                    <div class="d1 c_common">
                        <img src="./images/content/Img/08.jpg" alt="">
                    </div>
                    <p class="mt20">3.&nbsp卡密审核通过，坐等微信收款</p>
                </div>

                <!-- <div class="d2 c_common">
                    <img src="./images/content/Img/07.jpg" alt="">
                    <p>1.&nbsp微信登录98收</p>
                </div>
                <div class="d3 c_common">
                    <img src="./images/content/Img/08.jpg" alt="">
                    <p>1.&nbsp微信登录98收</p>
                </div> -->
                <!-- <ul>
                    <li>
                        <img src="./images/content/Img/06.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/content/Img/07.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/content/Img/08.jpg" alt="">
                    </li>
                </ul>
                <div class="content-login">
                    <span>1.&nbsp微信登录98收</span>
                    <div class="content-pic1">
                        <img src="./images/content/Img/20.jpg" alt="">
                    </div>
                    <span id="pohon">2.&nbsp话费卡回收页面输入卡密</span>
                    <div class="content-pic2">
                        <img src="./images/content/Img/20.jpg" alt="">
                    </div>
                    <span>3.&nbsp卡密审核通过，坐等微信收款</span>
                </div> -->
            </div>
        </div>
        <div class="content-pic">
            <img src="./images/content/Img/21.png" alt="">
        </div>
    </div>
    <div class="sj_contain">
        <div class="content-four">
            <div class="content-shou">
                <img src="./images/content/Img/05.jpg" alt="">
            </div>
            <div class="content-five">
                <div class="div1 div_common"></div>
                <div class="div2 div_common"></div>
                <div class="div3 div_common"></div>
            </div>
        </div>
    </div>
</div>
<!-- 弹窗 -->
<div class="big-box" style="display:none;">
    <div class="box-pic">
        <div class="box-header">
            <img src="./images/content/Img/index_03.png" alt="">
            <a href="#" onclick="app.closeAlert()"> <img src="./images/content/Img/index-xx.jpg" alt="" class="close"></a>
        </div>
        <div class="box-txt">
            <div><img src="./images/content/Img/shade_03.png" alt=""></div>
            <div><img src="./images/content/Img/weixin_03.png" alt=""></div>
            <span>【微信扫一扫 登录高价卖卡】</span>
        </div>
    </div>
</div>
<!-- 内容结束 -->
<script src="./js/app/shouye.js"></script>