
/* body{
	position: relative;
}
body:after{
	content: "";
	position: absolute;top: 0;left: 0;
	display: block;width: 100%;height: 3000px;
	background: url( "./test/test2.jpg") top center no-repeat;
	opacity: 0.5;
} */
.nav-right img{
    width: 15px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 30px;
}
.nav-right a{
    width: 40px;
    height: 30px;
    position: absolute;
    top: -1px;
    right:-20px;
}
.nav-hx{
    width: 100%;
    height: 100px;
    border-bottom:2px solid #ffda44;
} 
#one{
    background:#ffda44;
	border-radius: 50px;
}
.content{
    width: 100%;
}
.content-rate{
    width: 100%;
    height: 280px;
}
.content p{
    width: 100%;
    height: 65px;
    line-height: 83px;
    font-size: 20px;
    color:rgb(120,120,120);
}
table{
    border: 1px solid rgb(245,245,245);
    width: 1200px;
    height: 170px;
   
}
th{
    background-color:#feeba0;
    color:#333;
    height: 40px;
    line-height: 41px;
    font-size: 14px;
    width: 300px;
}
td{
     border:1px solid rgb(245,245,245);
     text-align: center;
     line-height: 35px;
     color: rgb(150,150,150);
     width: 300px;
     font-size: 14px;
}

.content h3{
     width: 100%;
     height: 35px;
     font-size: 20px;
     line-height: 35px;
     color:rgb(120,120,120);
 }

td span{
     margin: 0 5px;
}
.weixin{
    height: 500px;
    width: 100%;
    background-color:rgb(245,245,245);
    overflow: hidden;
 }   
.weixin-a{
    margin-left: 90px;
    width: 100%;
    height: 70px;
}
.weixin .weixin-a:first-child{
     margin-top:30px; 
}
.weixin-a li{
    float: left;
    width: 150px;
    height: 50px;
}
.weixin-a li:first-child{
      color:rgb(104,104,104);
      text-align: center;
      line-height: 60px; 
}
 #weixin-b{
       line-height: 20px;
}
.weixin-a input[type="text"]{
     width: 300px;
     height: 30px;
}  
#weixin-c{
    line-height: 35px;
}
input[type="submit"]{
    width: 160px;
    height: 40px;
    background-color:rgb(255,218,68);  
    margin-left: 130px;
}
.content-txt{
    width: 1198px;
    height: 60px;
    border: 1px solid rgb(225,225,225);
    background-color: rgb(245,245,245);
    margin-bottom:200px;
}
.content-txt p{
    font-size: 14px;
    color: rgb(145,145,145);
    text-align: center;
    line-height:60px;
}