.cards_content {
    width: 100%;
}

.content-rate {
    width: 100%;
    height: 280px;
}

.cards_content p {
    width: 100%;
    height: 65px;
    line-height: 83px;
    font-size: 20px;
    color: rgb(120, 120, 120);
}

.c_table,
.c_weixin {
    margin: 0px 40px;
}

table {
    border: 1px solid rgb(245, 245, 245);
    height: 170px;
    width: 100%;
}

th {
    background-color: #feeba0;
    color: #333;
    height: 40px;
    line-height: 41px;
    font-size: 14px;
    width: 300px;
}

td {
    border: 1px solid rgb(245, 245, 245);
    text-align: center;
    line-height: 35px;
    color: rgb(150, 150, 150);
    width: 300px;
    font-size: 14px;
}

.cards_content h3 {
    width: 100%;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    color: rgb(120, 120, 120);
}

td span {
    margin: 0 5px;
}

.weixin {
    height: 500px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.weixin-a {
    margin-left: 90px;
    width: 100%;
    height: 70px;
}

.weixin .weixin-a:first-child {
    margin-top: 30px;
}

.weixin-a li {
    float: left;
    width: 150px;
    height: 50px;
}

.weixin-a li:first-child {
    color: rgb(104, 104, 104);
    text-align: center;
    line-height: 60px;
}

#weixin-b {
    line-height: 20px;
}

.weixin-a input[type="text"] {
    width: 300px;
    height: 30px;
}

#weixin-c {
    line-height: 35px;
}

input[type="submit"] {
    width: 160px;
    height: 40px;
    background-color: rgb(255, 218, 68);
    margin-left: 130px;
}

.content-txt {
    height: 60px;
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
    margin-bottom: 200px;
}

.content-txt p {
    font-size: 14px;
    color: rgb(145, 145, 145);
    text-align: center;
    line-height: 60px;
}